<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  class="ion-padding"
  [scrollEvents]="true"
  (ionScroll)="onScroll($event)"
>
  <ion-fab
    vertical="bottom"
    horizontal="center"
    slot="fixed"
    *ngIf="isScrollEnabled"
  >
    <ion-fab-button (click)="scrollToTop()">
      <ion-icon name="arrow-round-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="typography-image">
    <img src="/assets/images/undraw_typewriter_i8xd.svg" />
    <h2>SF Compact Display</h2>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="3">
        <ion-card>
          <ion-card-header>
            <h3>Regular</h3>
          </ion-card-header>
          <ion-card-content>
            <p class="title">Title</p>
            <p class="subtitle">Subtitle</p>
            <p class="body">Body</p>
            <p class="label">Label</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="3">
        <ion-card>
          <ion-card-header>
            <h3>Thin</h3>
          </ion-card-header>
          <ion-card-content>
            <p class="title thin">Title</p>
            <p class="subtitle thin">Subtitle</p>
            <p class="body thin">Body</p>
            <p class="label thin">Label</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="3">
        <ion-card>
          <ion-card-header>
            <h3>Medium</h3>
          </ion-card-header>
          <ion-card-content>
            <p class="title medium">Title</p>
            <p class="subtitle medium">Subtitle</p>
            <p class="body medium">Body</p>
            <p class="label medium">Label</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="3">
        <ion-card>
          <ion-card-header>
            <h3>Sizing</h3>
          </ion-card-header>
          <ion-card-content>
            <p class="title">24px, 24pt, 24sp</p>
            <p class="subtitle">20px, 20pt, 20sp</p>
            <p class="body">18px, 18pt, 18sp</p>
            <p class="label">16px, 16pt, 16sp</p>
            <!-- <p class="title">32px, 24pt, 24sp</p>
            <p class="subtitle">27px, 20pt, 20sp</p>
            <p class="body">24px, 18pt, 18sp</p>
            <p class="label">21px, 16pt, 16sp</p> -->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
