<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content
  class="ion-padding"
  [scrollEvents]="true"
  (ionScroll)="onScroll($event)"
>
  <ion-fab
    vertical="bottom"
    horizontal="center"
    slot="fixed"
    *ngIf="isScrollEnabled"
  >
    <ion-fab-button (click)="scrollToTop()">
      <ion-icon name="arrow-round-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div>
    <h2>Introduction</h2>
    <ion-row>
      <ion-col size="12" size-md="4" *ngFor="let p of illustrationPrinciples">
        <ion-card>
          <ion-card-header>
            <img [src]="p.img" />
            <ion-card-title>{{p.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ul *ngFor="let m of p.message">
              <li>{{m}}</li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <h4>Types of illustrations and when to use them</h4>
    <ul>
      <li>
        Use spot illustrations for
        <ul>
          <li>Onboarding</li>
          <li>Price breakdowns</li>
          <li>When icons aren't enough</li>
          <li>Guiding the user</li>
          <li>Marketing and special moment modals</li>
        </ul>
      </li>
      <li>
        Use scene illustrations for
        <ul>
          <li>404 error pages</li>
          <li>Empty states</li>
        </ul>
      </li>
    </ul>
  </div>
  <div>
    <h4>When to not use illustrations</h4>
    <ul>
      <li>
        Sunsetting a feature? More appropriate: introducing something new in
        place of it.
      </li>
      <li>
        If you’re not sure an illustration will be utilized in your flow (come
        to us when you’re ready, or let’s chat if you’ve got some ideas).
      </li>
    </ul>
    <h4>Examples of when to use Illustrations</h4>
    <ion-row>
      <ion-col
        size="12"
        size-sm="6"
        size-md="3"
        *ngFor="let image of exampleImages"
      >
        <img [src]="image.src" />
      </ion-col>
    </ion-row>
  </div>
</ion-content>
