<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  class="ion-padding"
  [scrollEvents]="true"
  (ionScroll)="onScroll($event)"
>
  <ion-fab
    vertical="bottom"
    horizontal="center"
    slot="fixed"
    *ngIf="isScrollEnabled"
  >
    <ion-fab-button (click)="scrollToTop()">
      <ion-icon name="arrow-round-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid>
    <h3>Centre</h3>
    <ion-row>
      <ion-col size="12" size-md="4">
        <ion-card class="card--contact">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="10">
                  <p class="subtitle">
                    Subtitle
                  </p>
                </ion-col>
                <ion-col size="2">
                  <div class="icon-container">
                    <ion-fab-button>
                      <fa-icon
                        [icon]="['fas', 'phone']"
                        class="fa-lg"
                      ></fa-icon>
                    </ion-fab-button>
                    <ion-fab-button>
                      <fa-icon
                        [icon]="['fas', 'envelope']"
                        class="fa-lg"
                      ></fa-icon>
                    </ion-fab-button>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <p class="label">
                    Label
                  </p>
                </ion-col>
                <ion-col size="12">
                  <p class="label">
                    Label
                  </p>
                  <p class="body">
                    Body
                  </p>
                  <p class="label">
                    Label
                  </p>
                  <p class="body">
                    Body
                  </p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-card class="card--contact">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="10">
                  <p class="subtitle">
                    Shawarma Day Care
                  </p>
                </ion-col>
                <ion-col size="2">
                  <div class="icon-container">
                    <ion-fab-button>
                      <fa-icon
                        [icon]="['fas', 'phone']"
                        class="fa-lg"
                      ></fa-icon>
                    </ion-fab-button>
                    <ion-fab-button>
                      <fa-icon
                        [icon]="['fas', 'envelope']"
                        class="fa-lg"
                      ></fa-icon>
                    </ion-fab-button>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <p class="label">
                    7184 Galvin Ave. <br />
                    Brooklyn, NY 11224
                  </p>
                </ion-col>
                <ion-col size="12">
                  <p class="label">
                    Phone
                  </p>
                  <p class="body">
                    (07) 3333 3333
                  </p>
                  <p class="label">
                    Email
                  </p>
                  <p class="body">
                    shawarma@daycare.com
                  </p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <h3>Contact</h3>
    <ion-row>
      <ion-col size="12" size-md="4">
        <ion-card class="card--contact">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="10">
                  <p class="subtitle">
                    Subtitle
                  </p>
                  <p class="label">
                    Label
                  </p>
                </ion-col>
                <ion-col size="2">
                  <div class="icon-container">
                    <ion-fab-button>
                      <fa-icon [icon]="['fas', 'edit']" class="fa-lg"></fa-icon>
                    </ion-fab-button>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <p class="label">
                    Label
                  </p>
                </ion-col>
                <ion-col size="12">
                  <p class="label">
                    Label
                  </p>
                  <p class="body">
                    Body
                  </p>
                  <p class="label">
                    Label
                  </p>
                  <p class="body">
                    Body
                  </p>
                  <p class="label">
                    Label
                  </p>
                  <p class="body">
                    Body
                  </p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-card class="card--contact">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="10">
                  <p class="subtitle">
                    Reed Richards
                  </p>
                  <p class="label">
                    Father
                  </p>
                </ion-col>
                <ion-col size="2">
                  <div class="icon-container">
                    <ion-fab-button>
                      <fa-icon [icon]="['fas', 'edit']" class="fa-lg"></fa-icon>
                    </ion-fab-button>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <p class="label">
                    Baxter Building Lvl 35<br />
                    42nd St,<br />
                    New York City, 10004<br />
                  </p>
                </ion-col>
                <ion-col size="12">
                  <p class="label">
                    Mobile
                  </p>
                  <p class="body">
                    0404040404
                  </p>
                  <p class="label">
                    Home
                  </p>
                  <p class="body">
                    93487507824
                  </p>
                  <p class="label">
                    Work
                  </p>
                  <p class="body">
                    93486507825
                  </p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <h3>Payment Method Card</h3>
    <ion-row>
      <ion-col size="12" size-md="4">
        <ion-card class="card--payment-method ">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="10">
                  <p class="label">
                    Label
                  </p>
                  <p class="subtitle">
                    Subtitle
                  </p>
                </ion-col>
                <ion-col size="2">
                  <div class="icon-container">
                    <ion-fab-button>
                      <fa-icon [icon]="['fas', 'edit']" class="fa-lg"></fa-icon>
                    </ion-fab-button>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size-md="9">
                  <p class="label">
                    Label
                  </p>
                  <p class="subtitle">
                    Subtitle
                  </p>
                </ion-col>
                <ion-col size="3">
                  <p class="label">
                    Label
                  </p>
                  <p class="subtitle">
                    Subtitle
                  </p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-card class="card--payment-method ">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="10">
                  <p class="label">
                    Cardholder Name
                  </p>
                  <p class="subtitle">
                    Anthony Edward Stark
                  </p>
                </ion-col>
                <ion-col size="2">
                  <div class="icon-container">
                    <ion-fab-button>
                      <fa-icon [icon]="['fas', 'edit']" class="fa-lg"></fa-icon>
                    </ion-fab-button>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="9">
                  <p class="label">
                    Card Number
                  </p>
                  <p class="subtitle">
                    ....1966
                  </p>
                </ion-col>
                <ion-col size="3">
                  <p class="label">
                    Expiry
                  </p>
                  <p class="subtitle">
                    05/2023
                  </p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-card class="card--payment-method">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="10">
                  <p class="label">
                    Accountholder Name
                  </p>
                  <p class="subtitle">
                    Anthony Edward Stark
                  </p>
                </ion-col>
                <ion-col size="2">
                  <div class="icon-container">
                    <ion-fab-button>
                      <fa-icon [icon]="['fas', 'edit']" class="fa-lg"></fa-icon>
                    </ion-fab-button>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="9">
                  <p class="label">
                    Account No.
                  </p>
                  <p class="subtitle">
                    ....1963
                  </p>
                </ion-col>
                <ion-col size="3">
                  <p class="label">
                    BSB
                  </p>
                  <p class="subtitle">
                    595777
                  </p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <h3>Balance Card</h3>
    <ion-row>
      <ion-col size="12" size-md="4">
        <ion-card class="card--payment-method ">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <p class="label">
                    Label
                  </p>
                  <p class="subtitle">
                    Subtitle
                  </p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size-md="9">
                  <p class="label">
                    Label
                  </p>
                  <p class="subtitle">
                    Subtitle
                  </p>
                </ion-col>
                <ion-col size="3">
                  <p class="label">
                    Label
                  </p>
                  <p class="subtitle">
                    Subtitle
                  </p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-card class="card--payment-method ">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <p class="label">
                    Current Balance
                  </p>
                  <p class="subtitle">
                    -$400.00
                  </p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">
                  <p class="label">
                    Next Payment Amount
                  </p>
                  <p class="subtitle">
                    $1000
                  </p>
                </ion-col>
                <ion-col size="6">
                  <p class="label">
                    Next Payment Due
                  </p>
                  <p class="subtitle">
                    05/05/2023
                  </p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
