@import "../../theme/mixins";

ion-card {
  background-color: #ffffff;
  &.card--contact {
    .body {
      color: var(--ion-color-primary-on-white);
    }
    @include edit-icon-card();
  }
  &.card--payment-method {
    .subtitle {
      color: var(--ion-color-primary-on-white);
    }
    @include edit-icon-card();
    .--align-right {
      text-align: right;
    }
  }
}
