<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="image-container">
    <img src="/assets/images/branding/logo-mfl-001.png" />
  </div>
  <div class="image-container">
    <img src="/assets/images/undraw_product_teardown_elol.svg" />
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>WHAT EVEN IS A DESIGN SYSTEM?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>
              It is a set of rules or guidelines that heightens the level of
              harmony in a digital ecosystem. QIKKIDS is growing, a lot. One of
              the challenges facing us as the business evolves is maintaining a
              consistent, cohesive and captivating experience across our digital
              ecosystem.
            </p>
            <p>
              We’ve been working to create this design system as a centralised
              hub for showcasing our design rules, principles, and frontend
              components. It’s a place for people familiar with the QIKKIDS
              ecosystem, and for anyone wishing to learn more about our work.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>GOALS</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>
              Living, cohesive design language An update to any component in the
              design system will roll out across every QIKKIDS application,
              reducing variation and inconsistency in experience across our
              interface. More efficiencies This single-source approach to
              building out our interface means we can create and iterate faster,
              whilst empowering engineers to implement design changes and
              deliver features with minimal upfront design work.
            </p>
            <p>
              Tested, and trustworthy The design system has been tried and
              tested, it’s scalable to all devices, and strives to be AA
              compliant with Web Content Accessibility Guidelines. Onboarding
              Each designer and engineer will work with the most up to date UI
              patterns, principles, and guidelines to maintain cohesion across
              the teams.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <p>Here's a code snippet formatted with prism.js...</p>
  <pre><code class="language-markup">{{code}}</code></pre>
  <button (click)="copy(code)" value="click to copy" class="button--primary">Copy</button>
  <p>Here's a code snippet formatted with prism.js...</p>
  <pre><code class="language-markup">{{code2}}</code></pre>
  <button (click)="copy(code2)" value="click to copy" class="button--primary">Copy</button>
</ion-content>
