<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  class="ion-padding"
  [scrollEvents]="true"
  (ionScroll)="onScroll($event)"
>
  <ion-fab
    vertical="bottom"
    horizontal="center"
    slot="fixed"
    *ngIf="isScrollEnabled"
  >
    <ion-fab-button (click)="scrollToTop()">
      <ion-icon name="arrow-round-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col size="10" offset="1" size-md="8" offset-md="2">
        <ion-segment
          (ionChange)="segmentChanged($event)"
          value="authorisations"
        >
          <ion-segment-button value="details">
            <ion-label>Details</ion-label>
          </ion-segment-button>
          <ion-segment-button value="authorisations">
            <ion-label>Authorisations</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1" size-md="8" offset-md="2">
        <ion-segment (ionChange)="segmentChanged($event)" value="statements">
          <ion-segment-button value="statements">
            <ion-label>Statements</ion-label>
          </ion-segment-button>
          <ion-segment-button value="direct debit">
            <ion-label>Direct debit</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
