@mixin white-on-primary {
  color: var(--color-white);
  background-color: var(--ion-color-primary-on-white);
}

@mixin primary-on-white {
  color: var(--ion-color-white-on-primary);
  background-color: var(--color-white);
}

@mixin white-on-accent {
  color: var(--color-white);
  background-color: var(--ion-color-accent-on-white);
}

@mixin default-button-size {
  padding: var(--spacing-md) var(--radius-large);
  font-size: var(--font-subtitle-size);
  border-radius: var(--radius-large);
}
@mixin medium-button-size {
  padding: var(--spacing-base) var(--radius-medium);
  font-size: var(--font-label-size);
  border-radius: var(--radius-medium);
}

@mixin shadow-default($a, $b, $c, $d, $opacity) {
  -webkit-box-shadow: $a $b $c $d rgba(0, 0, 0, $opacity);
  -moz-box-shadow: $a $b $c $d rgba(0, 0, 0, $opacity);
  box-shadow: $a $b $c $d rgba(0, 0, 0, $opacity);
}

@mixin animate-on-hover() {
  &:hover {
    cursor: pointer;
    transition: transform .3s ease-in-out;
    transform: scale(1.1);
  }
}

@mixin session-action-button($color) {
  background: var(--ion-color-white);
  border-radius: var(--radius-base);
  padding: var(--spacing-base);
  min-width: 80px;
  @include shadow-default(1px, 1px, 3px, 0px, 0.5);
  color: $color;
  border: 1px solid $color;
  fa-icon {
    display: block;
  }
  font-size: var(--font-body-size);
  span {
    display: block;
  }
}

@mixin colour-pair($foreground, $background, $name) {
  .colour-pair {
    background-color: white;
    .#{$name} {
      font-size: 1.5em;
      p {
        margin: 8px 0;
      }
      .background {
        padding: 24px;
        background-color: $background;
        border: 1px solid black;
        .foreground {
          padding: 0px;
          text-align: center;
          color: $foreground;
        }
      }
    }
  }
}

@mixin alert($title-color, $subtitle-color) {
  .alert-title {
    margin-top: var(--spacing-lg);
    color: $title-color;
  }
  .alert-sub-title {
    color: var(--ion-color-dark);
  }
  .alert-message {
    img.icon {
      position: absolute;
      top: var(--spacing-base);
      left: 50%;
      height: var(--spacing-lg);
      margin-left: calc(calc(var(--spacing-lg)/2) * -1); // inner calc func divides height by 2; outer calc func makes the result a negative value;
      @include spin-on-hover();
    }
  }
}

@mixin spin-on-hover() {
  overflow: hidden;
  transition-duration: 0.8s;
  transition-property: transform;
  &:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@mixin edit-icon-card {
  .icon-container {
    position: relative;
    ion-fab-button {
        position: absolute;
        right: 0;
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 5em;
      }
    }
  }
}

@mixin shadow-default($a, $b, $c, $d, $opacity) {
  -webkit-box-shadow: $a $b $c $d rgba(0, 0, 0, $opacity);
  -moz-box-shadow: $a $b $c $d rgba(0, 0, 0, $opacity);
  box-shadow: $a $b $c $d rgba(0, 0, 0, $opacity);
}

@mixin reset-ion-item-padding() {
  --padding-end: 0px;
  --padding-start: 0px;
  --inner-padding-end: 0px;
  --inner-padding-start: 0px;
}

@mixin smooth-scrolling() {
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}