<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  class="ion-padding"
  [scrollEvents]="true"
  (ionScroll)="onScroll($event)"
>
  <ion-fab
    vertical="bottom"
    horizontal="center"
    slot="fixed"
    *ngIf="isScrollEnabled"
  >
    <ion-fab-button (click)="scrollToTop()">
      <ion-icon name="arrow-round-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col size="10" offset="1" size-md="8" offset-md="2">
        <h3>Contacts</h3>
        <ion-list>
          <ion-item *ngFor="let contact of contacts" detail>
            <ion-icon name="ion-chevron-right" slot="end"></ion-icon>
            <ion-label class="ion-text-wrap">
              <ion-text>
                <h2 class="subtitle">{{contact.name}}</h2>
              </ion-text>
              <ion-text color="primary" *ngIf="contact.type">
                <p class="label">{{contact.type | titlecase}}</p>
              </ion-text>
              <ion-text color="danger" *ngIf="contact.kioskStatus">
                <p class="label">{{contact.kioskStatus }}</p>
              </ion-text>
              <ion-text
                color="primary"
                *ngIf="!contact.type && !contact.kioskStatus"
              >
                <p class="label">&nbsp;</p>
              </ion-text>
            </ion-label>
          </ion-item>
        </ion-list>

        <h3>Family Centre Accounts</h3>
        <ion-list lines="inset">
          <ion-item *ngFor="let a of familyServiceAccounts" detail>
            <ion-icon name="ion-chevron-right" slot="end"></ion-icon>
            <ion-label class="ion-text-wrap">
              <ion-text>
                <h2 class="subtitle">{{a.familyName}}</h2>
              </ion-text>
              <ion-text color="primary">
                <p class="label">{{a.centreName}}</p>
              </ion-text>
            </ion-label>
          </ion-item>
        </ion-list>
        <h3>Sessions</h3>
        <ion-list class="list--sessions">
          <ion-item
            *ngFor="let session of sessions"
            class="ion-no-margin ion-no-padding"
          >
            <div
              class="border"
              [class.available]="isAvailable(session)"
              [class.booked]="isBooked(session)"
              [class.absent]="isAbsent(session)"
            ></div>
            <ion-label class="ion-text-wrap">
              <ion-text>
                <h2 class="subtitle">
                  {{session.firstName}}&nbsp;({{session.rollName}})
                </h2>
              </ion-text>
              <ion-chip
                class="ion-chip-white-text available"
                *ngIf="isAvailable(session)"
              >
                <ion-label>{{session.status | titlecase}}</ion-label>
              </ion-chip>

              <ion-chip
                class="ion-chip-white-text booked"
                *ngIf="isBooked(session)"
              >
                <ion-label>Booked</ion-label>
              </ion-chip>

              <ion-chip
                class="ion-chip-variation-text absent"
                *ngIf="isAbsent(session)"
              >
                <ion-label>{{session.status | titlecase}}</ion-label>
              </ion-chip>
            </ion-label>
            <button
              class="button--book-session button--medium"
              *ngIf="isAvailable(session)"
            >
              <fa-icon [icon]="['fas', 'calendar-check']"></fa-icon>
              <span>Book</span>
              <span>Session</span>
            </button>
            <button
              class="button--cancel-session button--medium"
              *ngIf="canCancel(session)"
            >
              <fa-icon [icon]="['fas', 'calendar-times']"></fa-icon>
              <span>Cancel</span>
              <span>Session</span>
            </button>
            <button
              class="button--mark-absent-session button--medium"
              *ngIf="canMarkAbsent(session)"
            >
              <fa-icon [icon]="['fas', 'user-slash']"></fa-icon>
              <span>Mark</span>
              <span>Absent</span>
            </button>
            <button
              class="button--contact-centre-session button--medium"
              *ngIf="isAbsent(session)"
            >
              <fa-icon [icon]="['fas', 'address-book']"></fa-icon>
              <span>Contact</span>
              <span>Centre</span>
            </button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- List of Input Items -->
  <!-- <ion-list>
    <ion-item>
      <ion-label>Input</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Toggle</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Radio</ion-label>
      <ion-radio slot="end"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Checkbox</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
  </ion-list> -->
</ion-content>
