<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content
  class="ion-padding"
  [scrollEvents]="true"
  (ionScroll)="onScroll($event)"
>
  <ion-fab
    vertical="bottom"
    horizontal="center"
    slot="fixed"
    *ngIf="isScrollEnabled"
  >
    <ion-fab-button (click)="scrollToTop()">
      <ion-icon name="arrow-round-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <h3>
    Chips, sometimes called tags, are useful for displaying keywords or
    categories from common sets of data.
  </h3>
  <div>
    <h4>White</h4>
    <ion-chip class="ion-chip-white available">
      <ion-label>Available</ion-label>
    </ion-chip>

    <ion-chip class="ion-chip-white booked">
      <ion-label>Booked</ion-label>
    </ion-chip>

    <ion-chip class="ion-chip-white absent">
      <ion-label>Absent</ion-label>
    </ion-chip>
  </div>
  <div>
    <h4>Light</h4>
    <ion-chip class="ion-chip-light available">
      <ion-label>Available</ion-label>
    </ion-chip>

    <ion-chip class="ion-chip-light booked">
      <ion-label>Booked</ion-label>
    </ion-chip>

    <ion-chip class="ion-chip-light absent">
      <ion-label>Absent</ion-label>
    </ion-chip>
  </div>
  <div>
    <h4>White, No Border</h4>
    <ion-chip class="ion-chip-white--no-border available">
      <ion-label>Available</ion-label>
    </ion-chip>

    <ion-chip class="ion-chip-white--no-border booked">
      <ion-label>Booked</ion-label>
    </ion-chip>

    <ion-chip class="ion-chip-white--no-border absent">
      <ion-label>Absent</ion-label>
    </ion-chip>
  </div>
  <div>
    <h4>Light, No Border</h4>
    <ion-chip class="ion-chip-light--no-border available">
      <ion-label>Available</ion-label>
    </ion-chip>

    <ion-chip class="ion-chip-light--no-border booked">
      <ion-label>Booked</ion-label>
    </ion-chip>

    <ion-chip class="ion-chip-light--no-border absent">
      <ion-label>Absent</ion-label>
    </ion-chip>
  </div>
  <div>
    <h4>Variation Text</h4>
    <ion-chip class="ion-chip-variation-text available">
      <ion-label>Available</ion-label>
    </ion-chip>

    <ion-chip class="ion-chip-variation-text booked">
      <ion-label>Booked</ion-label>
    </ion-chip>

    <ion-chip class="ion-chip-variation-text absent">
      <ion-label>Absent</ion-label>
    </ion-chip>
  </div>
  <div>
    <h4>White Text, Coloured BG</h4>
    <ion-chip class="ion-chip-white-text available">
      <ion-label>Available</ion-label>
    </ion-chip>

    <ion-chip class="ion-chip-white-text booked">
      <ion-label>Booked</ion-label>
    </ion-chip>

    <ion-chip class="ion-chip-white-text absent">
      <ion-label>Absent</ion-label>
    </ion-chip>
  </div>
  <div>
    <h3>Use the below in Sessions (Bookings) Page</h3>
    <ion-chip class="ion-chip-white-text available">
      <ion-label>Available</ion-label>
    </ion-chip>

    <ion-chip class="ion-chip-white-text booked">
      <ion-label>Booked</ion-label>
    </ion-chip>

    <ion-chip class="ion-chip-variation-text absent">
      <ion-label>Absent</ion-label>
    </ion-chip>
  </div>

  <div>
    <h3>Legend</h3>

    <ion-chip class="ion-chip-light--no-border available">
      <fa-icon [icon]="['fas', 'circle']"></fa-icon>
      <!-- <ion-icon name="heart" color="warning"></ion-icon> -->
      <ion-label>Available</ion-label>
    </ion-chip>

    <ion-chip class="ion-chip-light--no-border booked">
      <fa-icon [icon]="['fas', 'circle']"></fa-icon>
      <!-- <ion-icon name="heart" color="warning"></ion-icon> -->
      <ion-label>Booked</ion-label>
    </ion-chip>

    <ion-chip class="ion-chip-light--no-border absent">
      <fa-icon [icon]="['fas', 'circle']"></fa-icon>
      <!-- <ion-icon name="heart" color="warning"></ion-icon> -->
      <ion-label>Absent</ion-label>
    </ion-chip>
  </div>

  <!-- 
  <ion-chip color="light">
    <ion-label color="warning">Absent</ion-label>
  </ion-chip>

  <ion-chip>
    <ion-label>Default</ion-label>
  </ion-chip>

  <ion-chip>
    <ion-icon name="pin"></ion-icon>
    <ion-label>Default</ion-label>
  </ion-chip>

  <ion-chip>
    <ion-icon name="heart" color="dark"></ion-icon>
    <ion-label>Default</ion-label>
  </ion-chip>

  <ion-chip>
    <ion-label>Button Chip</ion-label>
    <ion-icon name="close-circle"></ion-icon>
  </ion-chip>

  <ion-chip>
    <ion-icon name="pin" color="primary"></ion-icon>
    <ion-label>Icon Chip</ion-label>
    <ion-icon name="close"></ion-icon>
  </ion-chip>

  <ion-chip>
    <ion-avatar>
      <img
        src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
      />
    </ion-avatar>
    <ion-label>Avatar Chip</ion-label>
    <ion-icon name="close-circle"></ion-icon>
  </ion-chip>
   -->
</ion-content>
