/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Custom MFL Styling*/
@import "./theme/mixins.scss";
@import "./theme/typography.scss";

/* PrismJS Syntax Highlighting */
@import "~prismjs/themes/prism-okaidia.css";

ion-content {
  --background: var(--ion-color-light);
  @include smooth-scrolling();
}
ion-fab-button {
  --background: var(--color-white);
  fa-icon,
  ion-icon {
    color: var(--ion-color-primary-on-white);
  }
}
form {
  ion-item {
    --background: var(--ion-color-light);
    --border-color: var(--ion-color-light);
    margin-right: 4px;
  }
}
ion-chip {
  fa-icon {
    margin: 0 var(--spacing-base) 0 0;
  }
  &.ion-chip-white {
    background: var(--color-white);
    &.available {
      border: 1px var(--ion-color-primary-on-light) solid;
      color: var(--ion-color-primary-on-light);
    }
    &.booked {
      border: 1px var(--ion-color-info-on-light) solid;
      color: var(--ion-color-info-on-light);
    }
    &.absent {
      border: 1px var(--ion-color-warning-on-light) solid;
      color: var(--ion-color-warning-on-light);
    }
  }
  &.ion-chip-light {
    background: var(--ion-color-light);
    &.available {
      border: 1px var(--ion-color-primary-on-light) solid;
      color: var(--ion-color-primary-on-light);
    }
    &.booked {
      border: 1px var(--ion-color-info-on-light) solid;
      color: var(--ion-color-info-on-light);
    }
    &.absent {
      border: 1px var(--ion-color-warning-on-light) solid;
      color: var(--ion-color-warning-on-light);
    }
  }
  &.ion-chip-light--no-border {
    background: var(--ion-color-light);
    border: 1px var(--ion-color-light) solid;
    &.available {
      color: var(--ion-color-primary-on-light);
    }
    &.booked {
      color: var(--ion-color-info-on-light);
    }
    &.absent {
      color: var(--ion-color-warning-on-light);
    }
  }
  &.ion-chip-white--no-border {
    background: var(--color-white);
    border: 1px var(--color-white) solid;
    &.available {
      color: var(--ion-color-primary-on-light);
    }
    &.booked {
      color: var(--ion-color-info-on-light);
    }
    &.absent {
      color: var(--ion-color-warning-on-light);
    }
  }
  &.ion-chip-variation-text {
    &.available {
      background: var(--ion-color-primary);
      border: 1px var(--ion-color-primary) solid;
      color: var(--ion-color-primary-variation-text);
    }
    &.booked {
      background: var(--ion-color-info);
      border: 1px var(--ion-color-info) solid;
      color: var(--ion-color-info-variation-text);
    }
    &.absent {
      background: var(--ion-color-warning);
      border: 1px var(--ion-color-warning) solid;
      color: var(--ion-color-warning-variation-text);
    }
  }
  &.ion-chip-white-text {
    color: var(--color-white);
    &.available {
      background: var(--ion-color-white-on-primary);
      border: 1px var(--ion-color-white-on-primary) solid;
    }
    &.booked {
      background: var(--ion-color-white-on-info);
      border: 1px var(--ion-color-white-on-info) solid;
    }
    &.absent {
      background: var(--ion-color-white-on-warning);
      border: 1px var(--ion-color-white-on-warning) solid;
    }
  }
}

button {
  @include default-button-size();
  margin: 0 var(--spacing-md) 0 0;
  &.button--medium {
    @include medium-button-size();
  }
  &.button--primary {
    @include white-on-primary();
    border: 1px solid var(--ion-color-primary-on-white);
  }
  &.button--secondary {
    @include primary-on-white();
    border: 1px solid var(--ion-color-primary-on-white);
  }
  &.button--tertiary {
    color: var(--ion-color-primary-on-light);
    background-color: transparent;
    border: 1px solid transparent;
  }
  &.button--accent {
    @include white-on-accent();
    border: 1px solid var(--ion-color-white-on-accent);
  }

  &.button--book-session {
    @include session-action-button(var(--ion-color-primary-on-light));
  }
  &.button--mark-absent-session {
    @include session-action-button(var(--ion-color-info-on-light));
  }
  &.button--cancel-session {
    @include session-action-button(var(--ion-color-info-on-light));
  }
  &.button--contact-centre-session {
    @include session-action-button(var(--ion-color-warning-on-light));
  }
}

.alert-success {
  @include alert(var(--ion-color-primary), var(--ion-color-primary-on-white));
}
.alert-info {
  @include alert(var(--ion-color-info), var(--ion-color-info-on-white));
}
.alert-warning {
  @include alert(var(--ion-color-warning), var(--ion-color-warning-on-white));
}
.alert-error {
  @include alert(var(--ion-color-danger), var(--ion-color-danger-on-white));
}

ion-toast {
  --background: var(--ion-color-medium);
  --color: var(--color-white);
  --border-radius: var(--radius-base);
  --button-color: var(--color-white);
}
