// https://webaim.org/resources/contrastchecker/
// https://learnui.design/tools/accessible-color-generator.html?colors=47b75b,ff9700,db3832,4f007d,2f6ca0,000000,707070,bec0c2,e0e0e0,ffffff,f4f4f4,e6cf01,ffee00
// https://ionicframework.com/docs/theming/colors
// https://ionicframework.com/docs/theming/color-generator

@mixin colour-pair($foreground, $background, $name) {
  .colour-pair {
    background-color: white;
    .#{$name} {
      font-size: 1.5em;
      p {
        margin: 8px 0;
      }
      .background {
        padding: 24px;
        background-color: $background;
        border: 1px solid black;
        .foreground {
          padding: 0px;
          text-align: center;
          color: $foreground;
        }
      }
    }
  }
}

/* primary */
@include colour-pair(var(--ion-color-primary-on-white), #ffffff, "primary-on-white");

@include colour-pair(var(--ion-color-primary-on-light), var(--ion-color-light), "primary-on-light");

@include colour-pair(#ffffff, var(--ion-color-white-on-primary), "white-on-primary");

@include colour-pair(var(--ion-color-primary-variation-text), var(--ion-color-primary), "variation-on-primary");

/* accent */
@include colour-pair(var(--ion-color-accent), #ffffff, "accent-on-white");

@include colour-pair(var(--ion-color-accent), var(--ion-color-light), "accent-on-light");

@include colour-pair(#ffffff, var(--ion-color-accent), "white-on-accent");

@include colour-pair(var(--ion-color-accent-variation-text), var(--ion-color-accent), "variation-on-accent");

/* info */
@include colour-pair(var(--ion-color-info), #ffffff, "info-on-white");

@include colour-pair(var(--ion-color-info), var(--ion-color-light), "info-on-light");

@include colour-pair(#ffffff, var(--ion-color-white-on-info), "white-on-info");

@include colour-pair(var(--ion-color-info-variation-text), var(--ion-color-info), "variation-on-info");

/* warning */
@include colour-pair(var(--ion-color-warning-on-white), #ffffff, "warning-on-white");

@include colour-pair(var(--ion-color-warning-on-light), var(--ion-color-light), "warning-on-light");

@include colour-pair(#ffffff, var(--ion-color-white-on-warning), "white-on-warning");

@include colour-pair(var(--ion-color-warning-variation-text), var(--ion-color-warning), "variation-on-warning");

/* danger */
@include colour-pair(var(--ion-color-danger-on-white), #ffffff, "danger-on-white");

@include colour-pair(var(--ion-color-danger-on-light), var(--ion-color-light), "danger-on-light");

@include colour-pair(#ffffff, var(--ion-color-white-on-danger), "white-on-danger");

@include colour-pair(var(--ion-color-danger-variation-text), var(--ion-color-danger), "variation-on-danger");


